<div class="h-full flex lg:p-12">
    <!--        <form action="" class="md:max-w-screen-md mx-auto border rounded grid md:grid-cols-2 w-full gap-x-4 shadow-xl py-3 px-8">-->
    <form method="post" action="/save-computer" class="w-full">
        <h2 class="col-span-2 text-2xl mb-3 mt-8">Add Computer </h2>
        <div class="">
            <div class="flex flex-col">
                <label for="username">Username</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" id="username" name="username" placeholder="Username">
            </div>
            <div class="flex flex-col">
                <label for="username">CUID</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="cuid"  placeholder="CUID">
            </div>
            <div class="flex flex-col">
                <label for="username">Status</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="status" placeholder="Status">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-2 w-full">
            <div class="flex flex-col">
                <label for="username">Direction</label>
                <select name="direction" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Direction</option>-->
                    <option value="DD">DD</option>
                    <option value="DAF">DAF</option>
                    <option value="DRS">DRS</option>
                    <option value="DAIMG">DAIMG</option>
                    <option value="DRAP">DRAP</option>
                    <option value="DOB">DOB</option>
                    <option value="DOM">DOM</option>
                    <option value="SG">SG</option>
                    <option value="FO">FO</option>
                    <option value="ODC">ODC</option>
                    <option value="DEC">DEC</option>
                    <option value="DMC">DMC</option>
                    <option value="DRH">DRH</option>
                    <option value="DRI">DRI</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="site">Site</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="site" id="site"  placeholder="Site">
            </div>
            <div class="flex flex-col">
                <label for="hostname">Hostname</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="hostname" id="hostname"  placeholder="Hostname">
            </div>
            <div class="flex flex-col">
                <label for="serialNumber">Serial number</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="serialNumber" id="serialNumber"  placeholder="Serial number">
            </div>
            <div class="flex flex-col">
                <label for="osVersion">Version OS</label>
                <select name="osVersion" id="osVersion" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Version OS</option>-->
                    <option value="MAC">MAC</option>
                    <option value="WIN10">WIN 10</option>
                    <option value="WIN7">WIN 7</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="type">Type</label>
                <select name="type" id="type" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Type</option>-->
                    <option value="Laptop">Laptop</option>
                    <option value="Desktop">Desktop</option>
                </select>
            </div>

            <div class="flex flex-col">
                <label for="model">Modele</label>
                <input type="text" class="border my-2 px-2 py-2 rounded text-sm" name="model" id="model"  placeholder="Modele">
            </div>
            <div class="flex flex-col">
                <label for="sac">A un Sac?</label>
                <select name="sac" id="sac" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Sac</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="souris">A une Souris?</label>
                <select name="souris" id="souris" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Souris</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="ecran">A une Ecran?</label>
                <select name="ecran" id="ecran" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Ecran</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>

<!--            <div class="flex flex-col">-->
<!--                <label for="ecran">A une Ecran?</label>-->
<!--                <select name="ecran" class="border my-2 px-2 py-2 rounded text-sm">-->
<!--                    <option selected disabled>Ecran</option>-->
<!--                    <option value="Oui">Oui</option>-->
<!--                    <option value="Non">Non</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="flex flex-col">
                <label for="imprimente">A une Imprimente?</label>
                <select name="imprimente" id="imprimente" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Imprimente</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="token">A un Token?</label>
                <select name="token" id="token" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Token</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="cableSecure">A un Cable de securite?</label>
                <select name="cableSecure" id="cableSecure" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Cable securite</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="filtreSecure">A un Filtre?</label>
                <select name="filtreSecure" id="filtreSecure" class="border my-2 px-2 py-2 rounded text-sm">
<!--                    <option selected disabled>Filtre confidentialité</option>-->
                    <option value="Oui">Oui</option>
                    <option value="Non">Non</option>
                </select>
            </div>

            <div class="flex flex-col">
                <label for="anneeAttr">Année d'attribution</label>
                <input type="text" id="anneeAttr" name="anneeAttr" class="border my-2 px-2 py-2 rounded"  placeholder="Année attribution">
            </div>
        </div>
        <div class="col-span-2 pt-5 text-right pb-3">
            <button class="text-sm bg-red-400 text-white px-3 py-1 rounded shadow-lg mr-1">Cancel</button>
            <button class="text-sm bg-green-400 text-white px-3 py-1 rounded shadow-lg">Save</button>
        </div>
    </form>
</div>